doctype html
html
  head
    script(src='/scripts/angularv1.4.3/angular.js')
    script(src="/scripts/angularv1.4.3/angular-touch.js")
    script(src="/scripts/angularv1.4.3/angular-animate.js")
    
    script(src='/scripts/angular-ui-grid/ui-grid.js')
    link(rel='stylesheet', href='/scripts/angular-ui-grid/ui-grid.css')

    link(rel='stylesheet', href='/stylesheets/style.css')
    //link(href="https://fonts.googleapis.com/css?family=Montserrat",rel="stylesheet")
    link(href="/stylesheets/montserrat-font.css",rel="stylesheet")
    
    script(src="/scripts/lodash.min.js")
    script(src="/scripts/bignumber.min.js")
    
    block specificScripts
  
  block content
