extends grid-layout

block specificScripts
  script(src='/scripts/trade-service.js')
  script(src='/scripts/stockquote-service.js')
  script(src='/scripts/app-trade-register.js')
    
block content
  body(ng-app='tradeRegisterApp')
    h1 Trade Register
    div(ng-controller='MainCtrl')
      div#my-ang-grid.grid(ui-grid='gridViewModel', ui-grid-exporter='')