body {
  padding: 16px;
  font: 12px "Montserrat", Helvetica, Arial, sans-serif;
  height: 80vh;
}

a {
  color: #00B7FF;
}

.short {
  color: red;
  border: 1px dashed tomato;
}
.almost {
  color: darkorange;
  border: 1px dashed tomato;
}
.grid{
  width: 90vw;
  height: 90vh;
}
.money{
  text-align: right;
}