body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.short {
  color: red;
  border: 1px dashed tomato;
}
.almost {
  color: darkorange;
  border: 1px dashed tomato;
}
.grid{
  width: 500px;
  height: 100%;
}